.top-heading{
    color: aliceblue;
    font-weight: bolder;
    margin-right: 20px;
}

.Fieldinfo{
    color: rgb(204, 164, 95);
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}